{
  AccessModifierOffset: -4,
  AlignConsecutiveAssignments: true,
  AlignConsecutiveMacros: true,
  AlignConsecutiveBitFields: true,
  AllowShortIfStatementsOnASingleLine: WithoutElse,
  BasedOnStyle: LLVM,
  Standard: Cpp11,
  BreakBeforeBraces: Custom,
  BraceWrapping:
    {
      AfterCaseLabel: true,
      AfterClass: true,
      AfterControlStatement: Always,
      AfterEnum: true,
      AfterExternBlock: false,
      AfterFunction: true,
      AfterNamespace: true,
      AfterObjCDeclaration: true,
      AfterStruct: true,
      AfterUnion: true,
      BeforeCatch: true,
      BeforeElse: true,
      BeforeLambdaBody: false,
      BeforeWhile: false,
      IndentBraces: false,
      SplitEmptyFunction: false,
      SplitEmptyNamespace: false,
      SplitEmptyRecord: false,
    },
  ColumnLimit: 0,
  FixNamespaceComments: false,
  IndentCaseLabels: false,
  IndentPPDirectives: BeforeHash,
  IndentWidth: 4,
  NamespaceIndentation: All,
  TabWidth: 4,
  UseTab: Never,
}
